// assign default value to all undefined variables

$scheme-name: "react_wordpress";

// theme variables
$react_wordpress_sm: var(--react_wordpress_sm);
$react_wordpress_md: var(--react_wordpress_md);
$react_wordpress_lg: var(--react_wordpress_lg);
$react_wordpress_xl: var(--react_wordpress_xl);
$react_wordpress_mode: var(--react_wordpress_mode);
$react_wordpress_primary_color: var(--react_wordpress_primary_color);
$react_wordpress_secondary_color: var(--react_wordpress_secondary_color);
$react_wordpress_contrast_text_color: var(--react_wordpress_contrast_text_color);
$react_wordpress_error_color: var(--react_wordpress_error_color);
$react_wordpress_warning_color: var(--react_wordpress_warning_color);
$react_wordpress_info_color: var(--react_wordpress_info_color);
$react_wordpress_success_color: var(--react_wordpress_success_color);
$react_wordpress_background_color: var(--react_wordpress_background_color);
$react_wordpress_border_radius: var(--react_wordpress_border_radius);
$react_wordpress_font_family: var(--react_wordpress_font_family);
$react_wordpress_font_size: var(--react_wordpress_font_size);
$react_wordpress_font_weight_light: var(--react_wordpress_font_weight_light);
$react_wordpress_font_weight_regular: var(--react_wordpress_font_weight_regular);
$react_wordpress_font_weight_medium: var(--react_wordpress_font_weight_medium);
$react_wordpress_font_weight_bold: var(--react_wordpress_font_weight_bold);
$react_wordpress_contrast_text_color: var(--react_wordpress_contrast_text_color);
